/*******************************/
/********* General CSS *********/
/*******************************/
@charset "utf-8";
@font-face {
    font-family: "Helvetica Neue LT";
    src: url(../font/HelveticaNeueLTW1GBd.otf);
    src: url(../font/HelveticaNeueLTW1GLt.otf);
    src: url(../font/HelveticaNeueLTW1GRoman.otf);
} 

@font-face {
    font-family: "logo";
    src: url(../font/Bauhaus\ 93\ Regular.ttf);
}
@font-face {
    font-family: "Helvetica AR";
    src: url(../font/alfont_com_AlFont_com_helveticaneueltarabicroman1.ttf);
    src: url(../font/helveticaneuelt-arabic-55-roman.ttf);
}
 
body {
    color: #666666;
    background: white;
    font-family:'Helvetica Neue LT' ,'Helvetica AR';
    font-weight: 400;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #ffff;
}

a {
    color: #666666;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #ffff;
    outline: none;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    background: #ffffff;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #35537D;
    color: #121518;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top:hover {
    color: white;
    background: #121518;
}

.back-to-top i {
    padding-top: 10px;
}

.btn {
    transition: .3s;
}


/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 90px;
    background: #35537D;
}

.top-bar .logo {
    padding: 15px 0;
    text-align: right;
    overflow: hidden;
}

.top-bar .logo h1 {
    margin: 0;
    font-family: 'logo';
    color: #ffff;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
}

.top-bar .logo img {
    max-width: 100%;
    max-height: 60px;
}

.top-bar .top-bar-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .top-bar-icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar .top-bar-icon [class^="flaticon-"]::before {
    margin: 0;
    color: #C97F5F;
    font-size: 40px;
}

.top-bar .top-bar-text {
    padding-left: 15px;
    text-align: center;
}

.top-bar .top-bar-text h3 {
    margin: 0 0 5px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.top-bar .top-bar-text p {
    margin: 0;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav-bar {
    position: relative;
    background: #35537D;
    transition: .3s;
}

.nav-bar .container-fluid {
    padding: 0;
}

.nav-bar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1366px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
}

.nav-bar .navbar {
    height: 100%;
    background: #00000071  !important;
    text-align: center;
}
.nav-bar .navbar .navbar-nav{
    margin-left: auto;
    margin-right: auto;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover
 {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover
 {
    transition: none;
    background-color: #A3AAAE;
    border-radius: 30px;
}


@media (min-width: 992px) {
    .nav-bar {
        padding: 0 75px;
    }
    
    .nav-bar.nav-sticky {
        padding: 0;
    }
    
    .nav-bar .navbar {
        padding: 20px;
    }
    
    .nav-bar .navbar-brand {
        display: none;
    }
    
    .nav-bar a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {
    .nav-bar .navbar {
        padding: 15px;
        
    }
    
    .nav-bar a.nav-link {
        padding: 5px;
    }
}


/*******************************/
/******** Carousel CSS *********/
/*******************************/
.carousel {
    position: relative;
    width: 100%;
    height: calc(100vh - 170px);
    min-height: 400px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.carousel .carousel-inner,
.carousel .carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(50%)
}

.carousel .carousel-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

.carousel .carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 170px);
    min-height: 400px;
}

.carousel .carousel-caption p {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.carousel .carousel-caption h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 35px;
}

@media (max-width: 767.98px) {
    .carousel .carousel-caption h1 {
        font-size: 40px;
        font-weight: 700;
    }
    
    .carousel .carousel-caption p {
        font-size: 20px;
    }
    
    .carousel .carousel-caption .btn {
        padding: 12px 30px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-caption h1 {
        font-size: 30px;
        font-weight: 500;
    }
    
    .carousel .carousel-caption p {
        font-size: 16px;
    }
    
    .carousel .carousel-caption .btn {
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.carousel .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}


/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 90px 0;
    text-align: center;
    background: #35537D;
}

.page-header h2 {
    position: relative;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.page-header h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    left: calc(50% - 50px);
    bottom: 0;
    background: #A3AAAE;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    color: #ffffff;
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #A3AAAE;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 991.98px) {
    .page-header {
        padding: 60px 0;
    }
    
    .page-header h2 {
        font-size: 45px;
    }
    
    .page-header a {
        font-size: 20px;
    }
}

@media (max-width: 767.98px) {
    .page-header {
        padding: 45px 0;
    }
    
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

.section-header p {
    color: #35537D;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 50px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}


/*******************************/
/********* Feature CSS *********/
/*******************************/
.feature {
    border-radius: 20px;
    position: relative;
}

.feature .col-md-12 {
    background: #004D71;
}
    
.feature .col-md-12:nth-child(2n) {
    color: #030f27;
    background: #A3AAAE;
}

.feature .feature-item {
    min-height: 250px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.feature .feature-icon {
    position: relative;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature .feature-icon::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    top: -10px;
    left: -20px;
    border: 2px dotted #ffffff;
    border-radius: 60px;
    z-index: 1;
}

.feature .feature-icon::after {
    position: absolute;
    content: "";
    width: 79px;
    height: 79px;
    top: -18px;
    left: -9px;
    background: #004D71;
    border-radius: 60px;
    z-index: 2;
}

.feature .col-md-12:nth-child(2n) .feature-icon::after {
    background: #A3AAAE;
}

.feature .feature-text {
    text-align: center;
    margin-right: 20px;
    margin-left: 0px;
    padding-left: 30px;
}

.feature .feature-text h3 {
    margin: 0 0 10px 0;
    font-family: 'Helvetica AR';
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}

.feature .feature-text p {
    margin: 0px;
    font-family: 'Helvetica AR';
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.feature .col-md-12:nth-child(2n) [class^="flaticon-"]::before,
.feature .col-md-12:nth-child(2n) h3,
.feature .col-md-12:nth-child(2n) p {
    color: #030f27;
}
.feature .feature-icon img{
    height:80px;
    z-index: 6;
}
@media (max-width:767.98px){
    .feature{
        margin-left: 10px !important;
        margin-right: 10px;
    }
    .featu{
        margin-bottom: 5px !important; 

    }

}
/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
    text-align:right;
}

.about .section-header {
    margin-bottom: 30px;
}

.about .about-img {
    position: relative;
    height: 100%;
    
}

.about .about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .about-text p,h2 {
    font-size: 16px;
    color:black;
}
@media (max-width: 767.98px) {
    .about .about-img {
        margin-bottom: 30px;
        height: auto;
    }
}


/*******************************/
/********** Fact CSS ***********/
/*******************************/
.fact {
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
    width: 100%;
    padding: 0px 0;
    
}
 .fact .text-center{
    margin-top: 0px;
    margin-bottom: 20px;
}
.fact h2{
    color: #35537D;
}
.fat .row{
    background-color: white !important;
}
.fact .col-6 {
    display: flex;
    align-items: flex-start;
}
.fact .fact-icon {
    position: relative;
    margin: 7px 15px 0 15px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fact .fact-icon [class^="flaticon-"]::before {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    background-image: linear-gradient(#ffffff, #C97F5F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fact .fact-right .fact-icon [class^="flaticon-"]::before {
    background-image: linear-gradient(#ffffff, #35537D);
}

.fact .fact-left,
.fact .fact-right {
    background-color: yellow;
    padding-top: 60px;
    padding-bottom: 60px;
}

.fact .fact-text h2 {
    margin-right: 15px;
    font-size: 35px;
    font-weight: 700;
    text-align: right;
}

.fact .fact-text p {
    margin-right: 15px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color:white;
    text-align: right;
}

.fact .fact-left {
    color: #fdbe33;
    background: #35537D;
}

.fact .fact-right {
    color: #35537D;
    background: #C97F5F;
}

.fact .fact-left h2 {
    color: #ffffff;
}


/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
    width: 100%;
}
.service h2{
    color: #35537D;
}
.service .container .text-center{
    margin-top: 0px;
    margin-bottom: 20px;
}
.service .innerCard{
    margin-top: 0px;
    border-radius: 30px;
    display: flex;
    flex-flow: row wrap;    
}
.service .innerCard .card{
    padding-top: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: #35537D;
    width:calc(33% - 15px);
    align-items: center;
    justify-content: center;
    z-index: 3;
}
@media(max-width:990px){
    .service .innerCard .card{
        width : 50%;
        margin-bottom: 5px;
        }
}
@media(max-width:770px){
.service .innerCard .card{
width : 100%;
margin-bottom: 5px;
}
.service{
    margin-top: 20px;
}
}

.service .innerCard .card:hover{
    transition: .5s;
    background-color: #C97F5F;
}
.service .innerCard .card img{
    align-items: center;
    width:150px;
    height: 125px;
}
.service .card p{
    text-align: center;
    color: aliceblue;
}
.service .card h5{
    clear: both;
    text-align: center;  
}

/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.container .text-center {
    margin-bottom: 20px;
    margin-top: 20px;
}
.container .text-center h2{
    color:#35537D;
} 

.testimonial {
    float: none;
    position: relative;
    float: none;
    margin:0px;
    padding: 30px 0;
    border-radius: 20px;
    text-align: center;
    background: linear-gradient(rgba(3, 15, 39, .9), rgba(3, 15, 39, .9)), url(../img/image/566.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial .container {
    max-width: 760px;
}
.about-page .testimonial {
    padding-bottom: 90px;
}

.testimonial .testimonial-slider-nav {
    position: relative;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}
.testimonial .testimonial-slider {
    position: relative;
    margin-top: 15px;
    padding-top: 50px;
}

.testim .testimonial .testimonial-slider::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 50px;
    top: 0;
    left: calc(50% - 30px);
    background: url(../img/quote.png) top center no-repeat;
}
.testimonial .testimonial-slider h3 {
    color: #FF671D;
    font-size: 26px;
    font-weight: 700;
}

.testimonial .testimonial-slider h4 {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    font-style: bold;
    margin-bottom: 10px;
}
.testimonial .testimonial-slider p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}
.testimonial .part .testimonial-slider {
    padding: 0px; 
    margin: 0; 
    width: 500px; 
    background-color: burlywood;
    margin-left:
    auto; margin-right: auto;
}
.testimonial .part img{
    width:100%; 
    height:150px;
}
@media (max-width:767.96px){
    .testimonial .part .testimonial-slider {
        width: 400px; 
    }
}

/*******************************/
/******** Partners CSS ********/




/*******************************/
/******** Portfolio CSS ********/
/*******************************/
.portfolio {
    position: relative;
    padding: 45px 0;
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: -15px 0 25px 0;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.portfolio #portfolio-flters li,
.portfolio .load-more .btn {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0;
    background: #C97F5F;
    border: none;
    transition: .3s;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    background: #35537D;
    color: white;
}

.portfolio .portfolio-warp {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.portfolio .portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-img img {
    width: 100%;
    transition: .3s;
}

.portfolio .portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio .portfolio-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(3, 15, 39, .7);
    transition: .5s;
    opacity: 0;
}

.portfolio .portfolio-warp:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio .portfolio-overlay p {
    margin: 0;
    color: #ffffff;
}

.portfolio .portfolio-text {
    display: flex;
    align-items: center;
    height: 60px;
    background: #030f27;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.portfolio .portfolio-text h3 {
    margin: 0;
    padding: 0 15px 0 25px;
    width: calc(100% - 60px);
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.portfolio .portfolio-warp a.btn {
    width: 60px;
    height: 60px;
    padding: 3px 0 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    line-height: 60px;
    font-weight: 100;
    color: #030f27;
    background: #ffffff;
    border-radius: 0;
    transition: .3s;
}

.portfolio .portfolio-warp:hover a.btn {
    color: #ffffff;
    background: #35537D;
}


/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.contact .col-md-6 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact .col-md-6:first-child {
    background: #35537D;
}

.contact .col-md-6:last-child {
    background: #C97F5F;
}

.contact .contact-info {
    position: relative;
    width: 100%;
    padding: 0 15px;
}

.contact .contact-item {
    position: relative;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border: 1px solid rgba(256, 256, 256, .2);
}

.contact .contact-item [class^="flaticon-"]::before {
    margin: 0;
    color: #C97F5F;
    font-size: 40px;
}

.contact .contact-text {   
    position: relative;
    width: auto;
    padding-right: 20px;
}

.contact .contact-text h2 {
    color: #C97F5F;
    font-size: 20px;
    font-weight: 600;
}

.contact .contact-text p {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
}

.contact .contact-item:last-child {
    margin-bottom: 0;
}

.contact .contact-form {
    position: relative;
    padding: 0 15px;
}

.contact .contact-form input {
    color: #ffffff;
    height: 40px;
    border-radius: 0;
    border-width: 1px;
    border-color: rgba(256, 256, 256, .4);
    background: transparent;
}

.contact .contact-form textarea {
    color: #ffffff;
    height: 185px;
    border-radius: 0;
    border-width: 1px;
    border-color: rgba(256, 256, 256, .4);
    background: transparent;
}

.contact .contact-form input:focus,
.contact .contact-form textarea {
    box-shadow: none;
}

.contact .contact-form .form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}

.contact .contact-form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.contact .contact-form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.contact .contact-form .btn {
    padding: 16px 30px;
    font-size: 16px;
    font-weight: 600;
    color: #C97F5F;
    background: #35537D;
    border: none;
    border-radius: 0;
    transition: .3s;
}

.contact .contact-form .btn:hover {
    color: #030f27;
    background: #ffffff;
}

.part
.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 100px;
    padding-top: 90px;
    background: #35537D;
    color: #ffffff;
    text-align: right;
    margin-bottom: 30px;
}

.footer .footer-contact,
.footer .footer-link,
.footer .newsletter {
    position: relative;
    margin-bottom: 45px;
}
.footer .footer-contact ul{
    margin-right: 0px;
    padding-right: 0px;
}
@media(max-width:767.96px){
    .footer .footer-contact ul{
        list-style: none;
    }
}

.footer h2 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #C97F5F;
}

.footer h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    right: 0% ;
    bottom: 0;
    background: #C97F5F;
}
@media (max-width: 768px) {
 
.footer h2::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    right: 41%;
    bottom: 0;
    background: #C97F5F;
} 
.footer h2 {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #C97F5F;
}  
.footer-contact{
    text-align: center;
}
}
/*********End Media*******************/
.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #003A70 ;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 7px 0;
    text-align: center;
    border: 1px solid rgba(256, 256, 256, .3);
    border-radius: 60px;
    transition: .3s;
}

.footer .footer-social a i {
    font-size: 15px;
    color: #ffffff;
}

.footer .footer-social a:hover {
    background: #C97F5F ;
    border-color: #003A70 ;
}

.footer .footer-social a:hover i {
    color: #030f27;
}

.footer .newsletter .form {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}


.footer .copyright {
    padding: 10px 15px;
    background-color: black;
    border-radius: 30px;
}

.footer .copyright p {
    margin-right: 30px;
    color: #ffffff;

}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    font-size: 20px;
    font-weight: bold;
    color: #C97F5F;
    font-weight: 500;
    letter-spacing: 1px;
}

.footer .copyright p a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
    .footer .copyright img{
        margin-right: 20%;
    }
}
